data/ linguist-vendored
figures/ linguist-vendored
report/ linguist-vendored

*.log linguist-vendored
*.trees linguist-vendored
*.xml linguist-vendored
*.txt linguist-vendored
*.csv linguist-vendored
*.chkpt linguist-vendored
*.nex linguist-vendored
*.out linguist-vendored
*.err linguist-vendored

*.py linguist-detectable=true
*.R linguist-detectable=true
*.sh linguist-detectable=true
*.pbs linguist-detectable=true